CompileFlags:
  Add:
    - -std=gnu99
    - -xc
    - -include stdint.h 
    - -include dwl.c
    - -I/usr/include/wlroots-0.20 
    - -I/usr/include/libdrm 
    - -I/usr/include/pixman-1
EnableSnippets: true
